{{>start}}
{{>use}}
{{>navhead}}

<div class="part1">
  <div class="left1">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/e7f0e8c2-6ede-4aaf-b1f1-db3ef15a2db8/GdRkCCM3qu.json" background="transparent" speed="2" style="width: 500px; height: 500px" direction="1" playMode="normal" autoplay></dotlottie-player>
   
  </div>

  <div class="right1">
  <h1>lorem ipsum</h1>  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cum nobis perferendis animsam nemo aperiam cum, animi mollitia odit sunt fugit saepe!
</p>
  </div>



{{>end}}