{{>start}}
{{>use}}

<div class="mega">
    <div class="big">
        <div class="pic">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script><dotlottie-player
                src="https://lottie.host/c8b20900-3bd0-4294-91a1-8bd9734d8f08/Jt0WtQ0T1Z.json" background="transparent"
                speed="1" style="width: 250px; height: 250px" direction="1" playMode="normal" loop
                autoplay></dotlottie-player>
        </div>
        <div class="hell">
            <h1>Designer</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>
    <div class="big">
        <div class="pic">
           <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/3fb4dcbb-c2d9-4609-8dd1-193c8c58b953/03JpXCgU1B.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop autoplay direction="1" mode="normal"></lottie-player>
        </div>
        <div class="hell">
            <h1>Front End Developer</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>
    <div class="big">
        <div class="pic">
           <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/969d52de-ce64-44f1-bb5c-28ea5779681e/c6LWQSniUf.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop  autoplay direction="1" mode="normal"></lottie-player>
        </div>
        <div class="hell">
            <h1>Back End Developer</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>
    <div class="big">
        <div class="pic">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/7961ec21-d172-4816-8536-876d90ce8f66/F4wYJl2KV0.json" background="transparent" speed="1" style="width: 300px; height: 300px" loop  autoplay direction="1" mode="normal"></lottie-player>
        </div>
        <div class="hell">
            <h1>Database Developer</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>
     <div class="big">
        <div class="pic">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script><dotlottie-player
                src="https://lottie.host/c8b20900-3bd0-4294-91a1-8bd9734d8f08/Jt0WtQ0T1Z.json" background="transparent"
                speed="1" style="width: 250px; height: 250px" direction="1" playMode="normal" loop
                autoplay></dotlottie-player>
        </div>
        <div class="hell">
            <h1>Prompt Engineer</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>
    <div class="big">
        <div class="pic">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script><dotlottie-player
                src="https://lottie.host/c8b20900-3bd0-4294-91a1-8bd9734d8f08/Jt0WtQ0T1Z.json" background="transparent"
                speed="1" style="width: 250px; height: 250px" direction="1" playMode="normal" loop
                autoplay></dotlottie-player>
        </div>
        <div class="hell">
            <h1>Content Writing</h1>
            <p>tenetur accusantium. Unde exerctationem architecto delectus nobis obcaecati dolore commodi, blanditiis
                dolorum. A provident expedita magnam quaerat officia.</p>
        </div>
    </div>



</div>
   
{{>end}}