<div class="nav">
    <div class="logo">
  <h1>Sample.</h1>
    </div>
    <div class="heads">
   <a href="/">Home</a>
   <a href="/about">About</a>
   <a href="/service">Service</a>
   <a href="/contact">Contact</a>
    </div>
</div>


</div>